@page "/"

<div class="card">
  <div class="card-body">
<h1 class="card-title">PAPAJ2137</h1>
    <p class="card-text">
        <img src="https://c.tenor.com/_ALiOwRhiBgAAAAC/papaj-jp2gmd.gif" />
    </p>

  </div>
</div>





